<div id="item_add">
	{% ifequal title "Events" %}
		<h2>{{ title }} // <a href="/events/calendar/">view as calendar</a></h2>
	{% else %}
		{% ifequal title "Events Calendar" %}
			<h2>Events // <a href="/events/">view as list</a></h2>
		{% else %}
			<h2>{{ title }}</h2>
		{% endifequal %}
	{% endifequal %}
	
	{% if user.is_authenticated %}
	<a id="item_add_link" href="/{{ url }}/add/">Add a new item</a>
	{% else %}
	<a id="item_add_login" href="/login/">Please login to add a item</a>
	{% endif %}
	<form id="search_form" method="GET" action="/{{ url }}/search/">
		<input id="searchbox" class="form_p" name="q" type="search" value="Search {{ title|lower }}" />
		<input class="form_submit" type="submit" value="Search" />
	</form>
</div>