{% extends "template_list.html" %}

{% block meta_description %}books{% endblock %}

{% block title %}Books{% endblock %}

{% block subcss %}
	<link href="{{ STATIC_URL }}css/lists/books.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block list %}
	{% include "snippets/list_heading.html" with title=title url=url%}
	
	<div id="categories">
		<ol class="tag_cloud">
		{% for c1, c2 in categories %}
			<li><a class="tag" href="/books/category/{{ c1 }}">{{ c2 }}</a></li>
		{% endfor %}
		</ol>
	</div>
	
	<div id="items">
	{% for b in books.object_list %}
		<div class="item">
			<h3 class="item_title"><a href="/{{ b.get_absolute_url }}">{{ b.title }}</a></h3>
	      	<p class="item_posted">{{ b.posted_by.first_name }}</p>
			<p class="item_description">{{ b.get_short_description }}</p>
	      	<!--<p>views: {{b.get_num_unique_views}}</p>  -->
	    </div>
    {% endfor %}
    </div>
    
    {% include "snippets/pagination.html" with obj=books %}
	
{% endblock %}

{% block javascript %}
	<script src="{{ STATIC_URL }}js/side_tree.js" type="text/javascript"></script>
{% endblock %}