{% extends "template_list.html" %}

{% block title %}Events{% endblock %}

{% block subcss %}
{% endblock %}

{% block list %} 
	{% include "snippets/list_heading.html" with title=title url=url %}
	
	<div id="items">
	{% for e in events.object_list %}
		<div class="item">
			<h3 class="item_title"><a href="{{ e.id }}">{{ e.title }}</a></h3>
	      	<p class="item_posted">{{ e.posted_by.first_name }}</p>
	      	<p class="item_date">{{ e.date }}</p>
		    <p class="item_location">{{ e.location }}</p>
			<p class="item_description">{{ e.get_short_description }}</p>
	      	<!--<p>views: {{e.get_num_unique_views}}</p>  -->
	    </div>
    {% endfor %}
    </div>
    
    {% include "snippets/pagination.html" with obj=events %}
	  
{% endblock %}

{% block javascript %}
	{% include "snippets/search_script.html" %}
{% endblock %}
