{% extends "template_list.html" %}

{% block meta_description %}sales{% endblock %}

{% block title %}For Sale &amp; Wanted{% endblock %}

{% block subcss %}
{% endblock %}

{% block list %} 
	{% include "snippets/list_heading.html" with title=title url=url%}
	
	<div id="items">
	{% for s in sales.object_list %}
		<div class="item">
			<h3 class="item_title"><a href="/{{ s.get_absolute_url }}">{{ s.title }}</a></h3>
	      	<p class="item_posted">{{ s.posted_by.first_name }}</p>
			<p class="item_description">{{ s.get_short_description }}</p>
	      	<!--<p>views: {{s.get_num_unique_views}}</p>  -->
	    </div>
    {% endfor %}
    </div>
    
    {% include "snippets/pagination.html" with obj=sales %}
	
{% endblock %}

{% block javascript %}
	<script src="{{ STATIC_URL }}js/side_tree.js" type="text/javascript"></script>
{% endblock %}