{% extends "template_list.html" %}

{% block meta_description %}rides{% endblock %}

{% block title %}Rides{% endblock %}

{% block subcss %}
{% endblock %}

{% block list %} 
	{% include "snippets/list_heading.html" with title=title url=url %}	
	
	<div id="items">
	{% for t in trans.object_list %}
		<div class="item">
			<h3 class="item_title"><a href="/{{ t.get_absolute_url }}">{{ t.title }}</a></h3>
	      	<p class="item_posted">{{ t.posted_by.first_name }}</p>
			<p class="item_description">{{ t.get_short_description }}</p>
		    <p class="item_date">{{ t.date }}</p>
	      	<!--<p>views: {{t.get_num_unique_views}}</p>  -->
	    </div>
    {% endfor %}
    </div>
	
	{% include "snippets/pagination.html" with obj=trans %}
	
{% endblock %}

{% block javascript %}
	<script src="{{ STATIC_URL }}js/side_tree.js" type="text/javascript"></script>
{% endblock %}