{% extends "template_detail.html" %}

{% block meta_description %}{{ book.title }}{% endblock %}

{% block title %}{{ book.title }}{% endblock %}

{% block detail %}
<div id="detail">
	<h2>{{ book.title }}</h2>
	{% include "snippets/detail_contact_link.html" with obj=book %}
	<p>{{ book.description|urlize }}</p>
</div>

<div id="comments">
	{% include "snippets/comments.html" with obj=book comments=comments %}
</div>
<div id="comment">
	{% include "snippets/comment_form.html" with form=form user=user%}
</div>
{% endblock %}