{% extends "template_detail.html" %}

{% block meta_description %}{{ break.title }}{% endblock %}

{% block title %}{{ break.title }}{% endblock %}

{% block detail %}
<div id="detail">
	<h2>{{break.title}}</h2>
	{% include "snippets/detail_contact_link.html" with obj=break %}
	<p>{{ break.get_break_name }} &raquo; {{ break.description|urlize|linebreaks }}</p>
</div>

<div id="comments">
	{% include "snippets/comments.html" with obj=break comments=comments %}
</div>
<div id="comment">
	{% include "snippets/comment_form.html" with form=form user=user %}
</div>
{% endblock %}