{% extends "template_detail.html" %}

{% block meta_description %}{{ disc.title }}{% endblock %}

{% block title %}{{ disc.title }}{% endblock %}

{% block subcss %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/vote.css" />
{% endblock %}

{% block detail %}
	<div id="detail">
		<h2>{{disc.title}}</h2>
		{% include "snippets/detail_contact_link.html" with obj=disc %}
		<p>{{ disc.description|urlize|linebreaks }}</p>
	    {% include "snippets/vote.html" with d=disc %}
	</div>
	<div id="comments">
		{% include "snippets/comments.html" with obj=disc comments=comments%}
	</div>
	<div id="comment">
		{% include "snippets/comment_form.html" with form=form user=user%}
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{STATIC_URL}}js/vote.js" type="text/javascript"></script>
{% endblock %}
    