{% extends "template_detail.html" %}

{% block meta_description %}{{ event.title }}{% endblock %}

{% block title %} {{ event.title }} {% endblock %}

{% block subcss %}
	<link href="{{ STATIC_URL }}css/detail/event_detail_desktop.css" media="screen and (min-width: 600px)" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/detail/event_detail_mobile.css" media="screen and (max-width: 559px)" rel="stylesheet" type="text/css" />
{% endblock %}

{% block detail %}
<div id="item">
	<div id="detail">
		<h2>{{ event.title }}</h2>
		{% include "snippets/detail_contact_link_event.html" with obj=event %}
		<p>{{ event.description|urlize|linebreaks }}</p>
		<p>{{ event.date }}</p>
		<p id="detail_location">{{ event.location }}</p>
	</div>
</div>
<div id="map">
	<div id="map_canvas"></div>
	<div id="directions">
		<form id="direction_form">
			<p id="direction_from">From</p>
			<input id="direction_from_input" class="form_p" type="text" value="" />
			<p id="direction_to">To</p>
			<input id="direction_to_input" class="form_p" type="text" value="{{ event.location }}" />
			Mode of travel
			<select id="travel_mode" class="form_choice" >
				<option value="DRIVING">Driving</option>
				<option value="WALKING">Walking</option>
				<option value="BICYCLING">Bicycling</option>
			</select> 
			<br />
			<input id="direction_submit" class="form_submit" type="submit" value="Route" />
		</form>
		<div id="directions_detail">
			<h2 id="directions_detail_heading">Directions</h2>
			<ol id="directions_detail_list"></ol>
		</div>
	</div>
</div>
<div id="comment_container">
	<div id="comments">
		{% include "snippets/comments.html" with obj=event comments=comments %}
	</div>
	<div id="comment">
		{% include "snippets/comment_form.html" with form=form user=user %}
	</div>
</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAv9g5EcPA39fFGJMGe7vL56L8_8HNTFQQ&sensor=false"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/event_detail_maps.js"></script>
{% endblock %}