{% extends "template_detail.html" %}

{% block meta_description %}{{ trans.title }}{% endblock %}

{% block title %}{{ trans.title }}{% endblock %}

{% block detail %}
<div id="detail">
	<h2>{{ trans.title }}</h2>
	{% include "snippets/detail_contact_link.html" with obj=trans %}
	<p>{{ trans.description|urlize }}</p>
	<p>{{ trans.date }}</p>
</div>

<div id="comments">
	{% include "snippets/comments.html" with obj=trans comments=comments%}
</div>
<div id="comment">
	{% include "snippets/comment_form.html" with form=form user=user%}
</div>
{% endblock %}