{% extends "template_detail.html" %}

{% block title %}{{event.name}}{% endblock %}

{% block detail %}
<div id="detail">
	<h2>{{trans.title}}</h2>
	{% include "snippets/detail_contact_link.html" with obj=trans %}
	<p>{{trans.description}}</p>
	<p>{{trans.date}}</p>
</div>

<div id="comments">
	{% include "snippets/comments.html" with num_comments=trans.get_num_comments comments=comments%}
</div>
<div id="comment">
	{% include "snippets/comment_form.html" with form=form user=user%}
</div>
{% endblock %}