#item {
	float:left;
	width:400px;
	/*overflow:wrap;*/
}
#id_comment {
	width:360px;
}

#map {
	float:right;
	width:400px;
}
#map_canvas {
	height:400px;
	
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	-o-box-shadow: 10px 10px 5px #888;
}

#directions {
	margin-top:20px;	
}
#direction_from_input, #direction_to_input {
	width:400px;
	margin-bottom:10px;
}
#travel_mode {
	margin-bottom:10px;
}


#directions_detail_heading {
	display:none;
}
.direction {
	margin-bottom:5px;
}
