{% extends "base.html" %}
{% load i18n %}

{% block title %}Contact {{ usr.first_name }}{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/forms.css" />
{% endblock %}

{% block content %} 
	<div id="viewer">
		{% if not submitted %}
		<h2>Contact {{ usr.first_name }}</h2>
		<form action="." method="POST"> {% csrf_token %}
			{% for field in form %}
				<div class="field">
					{{ field.label }} <br />
					{{ field.errors }}
					{{ field }}
				</div>
			{% endfor %}
			<input type="submit" class="form_submit" value="Send" />
		</form>
		{% else %}
		<h2>Thank you! Your message to {{ usr.get_full_name }} has been sent.</h2>
		{% endif %}
	</div>
{% endblock %}

{% block footer %}
{% endblock %}