{% extends "base.html" %}
{% load i18n %}

{% block title %}Contact {{usr.first_name}}{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/forms.css" />
{% endblock %}

{% block content %} 
	<div id="viewer">
		<h2>Contact {{usr.first_name}}</h2>
		<form action="." method="POST"> {% csrf_token %}
			<p>Subject</p>
			{{ subject }} <br />
			<p>Message</p>
			{{ message }} <br />
			<input type="submit" value="Send" />
		</form>
	</div>
{% endblock %}

{% block footer %}
{% endblock %}