{% extends "base.html" %}
{% load i18n %}

{% block title %}Login{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/forms.css" />
{% endblock %}

{% block content %} 
	<div id="viewer">
		<h2>Login</h2>
		<form id="login_form" action="." method="post">{% csrf_token %}
			{% for field in form %}
				<div class="field">
					{{ field.label }} <br />
					{{ field.errors }}
					{{ field }}
				</div>
			{% endfor %}
			<input type="submit" class="form_submit" value="Submit" />
		</form>	
	</div>
{% endblock %}

{% block footer %}
{% endblock %}