{% extends "base.html" %}
{% load i18n %}

{% block title %}Create an account{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/forms.css" />
{% endblock %}

{% block content %} 
<div id="viewer">
	<h2>Are you ready to save some money!?!?!</h2>
	<form id="new_user_form" action="." method="post">{% csrf_token %}
		<div class="field">
			{{ form.firstname.label }} <br />
			{{ form.firstname.errors }}
			{{ form.firstname }}
		</div>
		<div class="field">
			{{ form.lastname.label }} <br />
			{{ form.lastname.errors }}
			{{ form.lastname }}
		</div>
		<div class="field">
			{{ form.email.label }} <br />
			{{ form.email.errors }}
			{{ form.email }}
		</div>
		<div class="field">
			{{ form.password.label }} <br />
			{{ form.password.errors }}
			{{ form.password }}
		</div>
		<div class="field">
			{{ form.password_confirm.label }} <br />
			{{ form.password_confirm.errors }}
			{{ form.password_confirm }}
		</div>
		<input type="submit" class="form_submit" value="Submit" />
	</form>	
</div>
{% endblock %}

{% block footer %}
{% endblock %}