{% extends "base.html" %}
{% load i18n %}

{% block title %}Create an account{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/forms.css" />
{% endblock %}

{% block content %} 
<div id="viewer">
	<h2>Are you ready to save some money!?!?!</h2>
	<form id="new_user_form" action="." method="post">{% csrf_token %}
		<p>First name</p>
		{{ firstname }}
		<p>Last name</p>
		{{ lastname }}
		<p>Email</p>
		{{ email }}
		<p>Password</p>
		{{ password }}
		<p>Confirm Password</p>
		{{ password_confirm }}
		<br />
		<input type="submit" class="form_submit" value="Submit" />
	</form>	
</div>
{% endblock %}

{% block footer %}
{% endblock %}