{% extends "base.html" %}
{% load i18n %}

{% block title %}Password Reset{% endblock %}

{% block css %}
	<link href="{{ STATIC_URL }}css/forms_desktop.css" media="screen and (min-width: 600px)" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/forms_mobile.css" media="screen and (max-width: 599px)" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %} 
	<div id="viewer">
		{% if text == "" %}
			<h2>Enter your new password twice, please!</h2>
			<form id="password_reset_password_form" action="." method="post">{% csrf_token %}
				{% for field in form %}
					<div class="field">
						{{ field.label }} <br />
						{{ field.errors }}
						{{ field }}
					</div>
				{% endfor %}
				<input type="submit" class="form_submit" value="Submit" />
			</form>
		{% else %}
			<h2>{{ text }}</h2>
		{% endif %}
	</div>
{% endblock %}

{% block footer %}
{% endblock %}