{% extends "base.html" %}

{% block title %}{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/forms.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/add.css" />
{% endblock %}

{% block subcss %}
{% endblock %}

{% block content %} 
	<div id="viewer">
		<h2>Event listing will expire the day after the event. Other listings will expire in 
		30 days! If your listing has been taken care of, though, please go to your listing and 
		mark it as completed!</h2>
		{% block add %}
		{% endblock %}
	</div>
{% endblock %}


{% block javascript %}   
{% endblock %}