{% extends "template_add.html" %}

{% block title %}Add a product{% endblock %}

{% block subcss %}
{% endblock %}

{% block add %}
<div id="add_form_container">
	<p id="add_heading">Add a new product:</p>
	<form id="add_form" action="." method="post">{% csrf_token %}
		{% for field in form %}
			<div class="field">
				{{ field.label_tag }}<br />
				{{ field.errors }}
				{{ field }}
			</div>
		{% endfor %}
		<input class="form_submit" type="submit" value="Submit" />
	</form>	
</div>
{% endblock %}
