{% extends "template_add.html" %}

{% block title %}Add a transportation request{% endblock %}

{% block subcss %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jqueryui/jquery-ui-1.8.19.custom.css" />
{% endblock %}

{% block add %}
<div id="add_form_container">
	<p id="add_heading">Add a new request:</p>
	<form id="add_form" action="." method="post">{% csrf_token %}
		{% for field in form %}
			<div class="field">
				{{ field.label }} <br />
				{{ field.errors }}
				{{ field }}
			</div>
		{% endfor %}
		<input class="form_submit" type="submit" value="Submit" />
	</form>	
</div>
{% endblock %}

{% block javascript %}
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
	<script>window.jQuery.ui || document.write('<script src="/static/js/libs/jquery-ui-1.8.19.custom.min.js"><\/script>')</script>
	<script>
	$(function() {
		$("#id_date").datepicker({
			showOtherMonths: true,
			selectOtherMonths: true
		});
	});
	</script>
{% endblock %}