#add_form_container {
	width:45%;
	float:left;
	padding-bottom:10px;
}

.form_p {
	width:248px;
	margin-bottom:10px;
}

#map_canvas {
	float:right;
	width:400px;
	height:400px;
	
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	-o-box-shadow: 10px 10px 5px #888;
}
