{% extends "base.html" %}
{% load i18n %}

{% block title %}Settings{% endblock %}

{% block css %}
	<link href="{{ STATIC_URL }}css/forms_desktop.css" media="screen and (min-width: 600px)" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/forms_mobile.css" media="screen and (max-width: 599px)" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %} 
	<div id="viewer">
		{% if not user.is_authenticated %}
			<p><a href="/newuser/">Create an account</a> or <a href="/login/">login</a> to get started!</p>
		{% else %}
			{% if valid == True %}
				<h2>Your settings have been saved!</h2>
			{% else %}
				<p>Configure your settings</p>
				<form id="user_settings_form" action="." method="post">{% csrf_token %}
					<div class="field">
						{{ form.major.label }} <br />
						{{ form.major.errors }}
						{{ form.major }}
					</div>
					<input type="submit" class="form_submit" value="Submit" />
				</form>
			{% endif %}
    	{% endif %}
	</div>
{% endblock %}

{% block footer %}
{% endblock %}
