#viewer {
	width:800px;
	margin:auto;
	margin-top:20px;
}

#form_textarea {
	margin-bottom:10px;
	width:100%;
}
#form_p {
	width:40%;
	margin-bottom:10px;
}

#form_p, #form_textarea {
	line-height:22px;
	font-size:14px;
	
	padding:10px;

	border:2px solid silver;

	-moz-box-shadow: 0px 0px 0px #888;
	-webkit-box-shadow: 0px 0px 0px #888;
	box-shadow: 0px 0px 0px #888;
	-o-box-shadow: 0px 0px 0px #888;
	
	-webkit-transition: -webkit-box-shadow 250ms, border 250ms;
	-moz-transition: -moz-box-shadow 250ms, border 250ms;
	transition: box-shadow 250ms, border 250ms;
	-o-transition: -o-box-shadow 250ms, border 250ms;
}
#form_p:focus, #form_textarea:focus {
	-moz-box-shadow: 0px 5px 5px #888;
	-webkit-box-shadow: 0px 5px 5px #888;
	box-shadow: 0px 5px 5px #888;
	-o-box-shadow: 0px 5px 5px #888;
	
	border:2px solid black;
}


#form_choice {
	margin-bottom:10px;
}