/*#recent_activity {
	margin-top:20px;
}

.items ul {
	list-style-type:none;
}

.items a {
	color:silver;
}
.items a:hover {
	color:black;
}*/


#cclogo {
	float:right;
	bottom: 0;
}


#viewer h2 {
	font-size:28px;
	margin-bottom:20px;
}
#viewer p {
	font-size:24px;
	margin-bottom:20px;
}
#viewer a {
	color:gold;
	-webkit-transition: color 250ms;
	transition:color 250ms;
	-moz-transition: color 250ms;
	-o-transition: color 250ms;
}

#viewer a:hover {
	color:silver;
}