.vote {
	margin-top:10px;
	margin-bottom:10px;
}
.vote span{
	background:url('http://swapr.cc/static/img/vote_arrows.png') no-repeat;
	float:left;
	height:26px;
	margin-right:4px;
	width:26px;
	cursor:pointer;
}

.vote.inactive span{
	opacity:0.5;
	filter: alpha(opacity = 50);
	cursor:default;
}

.vote .down	{ background-position:right top;}
.vote.active .up:hover		{	background-position:left bottom;}
.vote.active .down:hover	{	background-position:right bottom;}
